

.swiper {
    margin:0px;
  scroll-behavior: smooth;
  /* overflow: hidden; */

}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    scroll-behavior: smooth;
   

 /* Ensure slides take the full width */
}
.mySwiper
{
    margin:0px 90px;
    padding: 20px 0px;
    width: 210px;
    /* border: green solid 1px; */
}

.card_img_mob
{
    border-radius: 5px;
    padding-top: 0px;
}
