.maincard_con
{
    padding: 20px 50px;
    /* border: red solid 1px; */
    overflow-y: hidden;
    overflow-x: hidden;
}
.maincard
{

    padding:0px 50px;
    display: flex;
    border-radius: 10px;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
   
}
.card_con 
{
    display: flex;
}
.img_con
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border:green solid 1px */
}
.my_img
{
    width:440px;
    height: auto;
}
.card_content
{
    width: 60%;
    padding: 30px;
    /* border: green solid 1px; */
}
.role
{
    color: aqua;
}

.des
{
    color: rgba(188, 188, 180, 0.44);
    font-size: 14px;
    width: 100%;
    line-height: 1.5;
}
.btns
{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    /* border: red solid 1px; */
}
.dwn_cv
{
    font-size: medium;
    border-radius: 5px;
    border-style: none;
    border: rgba(255, 255, 255, 0.437) solid 0.5px;
    background-color: rgba(240, 248, 255, 0.076);
   padding:15px 35px;
}
.hire_me
{
    font-size: medium;
    border-radius: 5px;
    border-style: none;
    /* border: white solid 1px; */
    background-color: rgba(240, 248, 255, 0.076);
   padding:15px 35px;
   background-color: rgb(226, 63, 63);
}
.soc_con
{
    display: flex;
    align-items: center;
    /* border: red solid 1px; */
}
.soc
{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    border-radius: 30px;
    width: 55px;
    height: 220px;
    background-color: rgb(0, 0, 0);
    border: rgba(230, 224, 224, 0.122) solid 1px;
    /* box-shadow: rgba(100, 195, 171, 0.061)30px 30px 90px -12px inset, rgba(55, 97, 63, 0.16) 30px 18px 36px -18px inset;} */
    box-shadow: rgba(216, 226, 231, 0.067) 0px 2px 4px 0px, rgba(129, 153, 164, 0.126) 0px 2px 16px 0px;
}
.maincard_con_mob
{
    display: none;
}
@media (max-width:700px)
{
    .maincard_con
    {
        display: block;
        padding: 20px;
    }
    .maincard
    {
        border-radius: 15px;
        display: block;
        padding: 10px;
        
    }
    .card_content
    {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .intro
    {
        line-height: 1.3;
        width: 100%;
        /* border: red solid 1px; */
        color: rgb(1, 15, 48);
        font-size: calc(14px + 2vw);
        margin:0px 10px;

    }
    .head_con
    {
        padding: 0px;
        margin:0px;
    }
    .name
    {
     
        line-height: 1.3;
        width: 100%;        
        /* border: red solid 1px; */
        font-size: calc(24px + 2vw);
        margin: 10px;
        color: rgba(255, 255, 255, 0.568);
    }
    
 
    


    .role
    {
      
        font-size: calc(16px + 2vw);
        padding: 6px ;
        margin: 1px 9px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.269);
        color: #01ffff;
    }
    .img_con
    {    
       
       padding: 0px;
       margin: 0%;
    }
    .my_img
    {
        border-radius: 8px;
       width: 90%;
        height: auto;
        display: none;
       
    }
    .card_con
    {
        display: block;
    }
    .soc_con
    {
        /* display: none; */
        margin: 10px;
        justify-content: center;
    }
    .soc
    {
        margin: 5px 0px;
        border-radius: 25px;
        flex-direction: row;
        width:100%;
        height: 50px;
    }
    .btns
    {
        width: 90%;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 20px;
        justify-content:space-between;
        /* border: red solid 1px; */
    }
    .hire_me
    {
        color: white;
    }
    .dwn_cv
    {
        color: white;
    }
    .des
    {
  
        
    }
    .p_card
    {
        padding: 10px;
    }
}